<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue"/>
      <button @click="addGoal">Add Goal</button>
      <!-- v-if에는 문제없지만 v-if대안으로 v-show를 사용할 수 있음 -->
      <!-- v-show는 독립적이기때문에 else나 else-if처럼 쓰지못하고 v-show를 여러 번 써야함 -->
      <!-- <p v-show="goals.length === 0">No goals have been added yet - please start adding some!</p> -->

      <!-- 조건을 결합할 수 있음 ( &&(and) 혹은 ||(or) 등 ) -->
      <!-- 연산프로퍼티를 가리키거나 데이터 프로퍼티를 가리킬 수 있음 -->
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>

      <!-- 아래 세가지를 쓸 수 있음 -->
      <!-- <ul v-if="goals.length > 0"> -->

      <!-- v-else를 사용할때는 v-if가 오는 바로 다음요소에 써야함 중간에 다른요소가 있다면 사용할 수 없음 -->
      <!-- <ul v-else> -->

      <!-- else에 요건이 맞지 않을땐 v-else-if 를 사용할 수 있음 -->
      <ul v-else-if="goals.length > 0">
        <!-- v-for="아이템명 in array" 아이템명은 변수같은 것 --> 
        <!-- <li v-for="아이템명 in array">{{ 아이템명 }}</li> -->
        <!-- <li v-for="goal in goals">{{ goal }}</li> -->
        <!-- key="" 선택사항이지만 v-for을 사용할때마다 넣어주면 좋음 -->
        <!-- :key 에 들어가는 내용은 고유 아이디값 - 나중에 백엔드와의 통신을 배우게되면 알게됨 -->
        <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">{{ goal }}
          <!-- 만일 li를 생성하고nput을 클릭했을때 li가 삭제되지 않길 원한다면 @click.stop -->
          <input type="text" @click.stop>
        </li>
      </ul>

      <!-- 숫자의 범위로 루프를 걸고자 할때도 사용 가능 -->
      <!-- num 과 in을 통하면 할 수있음 -->
      <!-- <ul>
        <li v-for="num in 10">{{ num }}</li>
      </ul> -->

      <!-- 배열에 루프를 걸 수 있음 -->
      <!-- key와 index도 볼 수 있음 -->
      <!-- <ul>
        <li v-for="(value, key, index) in {name: 'Max', age: 31}">{{ key }} : {{ value }} - {{ index }}</li>
      </ul> -->

      <!-- v-show 와 v-if 의 차이점은 -->
      <!-- v-if는 DOM에서 요소를 추가하거나 제거함 -->
      <!-- v-show는 css로 요소를 숨기거나 표시함 : 성능에 영향을 주지않음 -->
      <!-- v-if대신에 v-show를 쓰는 경우는 요소의 토글 버튼이 있어서 가시성 상태가 항상 전환되는 경우 -->
    </section>
  </body>
</html>
